.env

cache/jellyfin/*

config/bazarr/*
config/caddy/*
config/lidarr/*
config/cloudflared/*
config/homarr/*
config/homeassistant/*
config/jellyfin/*
config/jellyseerr/*
config/pihole/*
config/portainer/*
config/prowlarr/*
config/qbittorrent/*
config/radarr/*
config/sonarr/*

data/caddy/*

downloads/music/*
downloads/books/books/*
downloads/books/audio-books/*
downloads/movies/*
downloads/shows/*

media/music/*
media/books/books/*
media/books/audio-books/*
media/movies/*
media/shows/*

!**/.gitkeep
