.env
docker-compose.override.yml

volumes/config/bazarr/*
volumes/config/esphome/*
volumes/config/homeassistant/*
volumes/config/jellyfin/*
volumes/config/jellyseerr/*
volumes/config/lidarr/*
volumes/config/prowlarr/*
volumes/config/qbittorrent/*
volumes/config/radarr/*
volumes/config/sonarr/*

volumes/downloads/music/*
volumes/downloads/books/books/*
volumes/downloads/books/audio-books/*
volumes/downloads/movies/*
volumes/downloads/shows/*

volumes/media/music/*
volumes/media/books/books/*
volumes/media/books/audio-books/*
volumes/media/movies/*
volumes/media/shows/*

!**/.gitkeep
