---
# Bazarr configuration (Subtitles)
bazarr:
  api_key: "changeme"

# Lidarr configuration (Music)
lidarr:
  api_key: "changeme"

# Prowlarr configuration (indexer manager)
prowlarr:
  api_key: "changeme"

# Radarr configuration (Movies)
radarr:
  api_key: "changeme"

# Sonarr configuration (TV shows)
sonarr:
  api_key: "changeme"
